/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    max-width: 70vw;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}
img{
    max-width: 200px;
    max-height: 300px;
}

.profile{
    display:flex;
    flex-direction: column;
    height: 500px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.profile-bio{
    align-self:flex-start;
    padding-left: 400px;
    padding-bottom: 90px;
    font-size: 14px;

}

li{
    display:inline;
   
}

.profile-user-settings{
    
    padding-left: 400px;
    display:flex;
    flex-direction: row;
    
    

}

h1{
    padding-right: 30px;
}

.profile-stats{
    font-size: 14px ;
    padding-top:12px;
    padding-bottom: 12px;
    padding-left: 400px;
}


.profile-image{

    height: 100px;
    width: 100px;
    margin-left: 50px;
    padding-top: 50px;
    border:border-box;
    
}

.btn{
    margin: 1px;
    padding-top:none;
  
    
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: inherit;
   
}



.gallery-items{
    position:relative;
    object-fit: cover;
    border-radius: none;
    height:100px;
    width: 70px;
    overflow: clip;
    overflow-clip-margin: content-box;
    
}
.gallery-items:hover{
    opacity: 0.5;
    color: #262626;
    aria-hidden:false;
}
.gallery-items:hover, .gallery-items-info{
    opacity:0.5;
    color: #262626;
}